@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}
*{
    background-color: darkslategray;
    color:aqua
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}
a {
    text-decoration: none;
    color: aqua !important;
    font-weight: 500;
}

a:hover {
    color: aquamarine !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}